<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content fullscreen>
    <div id="container">
    <ion-card *ngFor="let item of data">
      <img [src]="item.avatar" />
      <ion-card-header>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
        <ion-card-title>{{item.address}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.info}}
      </ion-card-content>
    </ion-card>
    <ion-button (click)="getMoreDetails()">More</ion-button>
    
  </div>

  
</ion-content>
